# Explore Hacker News post

Do Ask HN or Show HN receive more comments on average?
Do posts created at a certain time receive more comments on average?

# Do Ask HN or Show HN receive more comments on average?

In [1]:
from csv import reader
opened_file = open('hacker_news.csv')
read_file = reader(opened_file)
hn =list(read_file)

In [2]:
hn[:5]

[['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at'],
 ['12224879',
  'Interactive Dynamic Video',
  'http://www.interactivedynamicvideo.com/',
  '386',
  '52',
  'ne0phyte',
  '8/4/2016 11:52'],
 ['10975351',
  'How to Use Open Source and Shut the Fuck Up at the Same Time',
  'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/',
  '39',
  '10',
  'josep2',
  '1/26/2016 19:30'],
 ['11964716',
  "Florida DJs May Face Felony for April Fools' Water Joke",
  'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/',
  '2',
  '1',
  'vezycash',
  '6/23/2016 22:20'],
 ['11919867',
  'Technology ventures: From Idea to Enterprise',
  'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
  '3',
  '1',
  'hswarna',
  '6/17/2016 0:01']]

In [3]:
headers = hn[0]
hn = hn[1:]
headers

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

In [4]:
hn[:5]

[['12224879',
  'Interactive Dynamic Video',
  'http://www.interactivedynamicvideo.com/',
  '386',
  '52',
  'ne0phyte',
  '8/4/2016 11:52'],
 ['10975351',
  'How to Use Open Source and Shut the Fuck Up at the Same Time',
  'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/',
  '39',
  '10',
  'josep2',
  '1/26/2016 19:30'],
 ['11964716',
  "Florida DJs May Face Felony for April Fools' Water Joke",
  'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/',
  '2',
  '1',
  'vezycash',
  '6/23/2016 22:20'],
 ['11919867',
  'Technology ventures: From Idea to Enterprise',
  'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
  '3',
  '1',
  'hswarna',
  '6/17/2016 0:01'],
 ['10301696',
  'Note by Note: The Making of Steinway L1037 (2007)',
  'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0',
  '8',
  '2',
  'walterbell',
  '9/30/2015 4:12']]

In [5]:
ask_posts = []
show_posts =[]
other_posts =[]

In [6]:
for row in hn:
    title = row[1]
    title = title.lower()
    if title.startswith('ask hn') is True:
        ask_posts.append(row)
    elif title.startswith('show hn') is True:
        show_posts.append(row)
    else:
        other_posts.append(row)

In [7]:
len(ask_posts)

1744

In [8]:
len(show_posts)

1162

In [9]:
len(other_posts)

17194

In [10]:
ask_posts[:5]

[['12296411',
  'Ask HN: How to improve my personal website?',
  '',
  '2',
  '6',
  'ahmedbaracat',
  '8/16/2016 9:55'],
 ['10610020',
  'Ask HN: Am I the only one outraged by Twitter shutting down share counts?',
  '',
  '28',
  '29',
  'tkfx',
  '11/22/2015 13:43'],
 ['11610310',
  'Ask HN: Aby recent changes to CSS that broke mobile?',
  '',
  '1',
  '1',
  'polskibus',
  '5/2/2016 10:14'],
 ['12210105',
  'Ask HN: Looking for Employee #3 How do I do it?',
  '',
  '1',
  '3',
  'sph130',
  '8/2/2016 14:20'],
 ['10394168',
  'Ask HN: Someone offered to buy my browser extension from me. What now?',
  '',
  '28',
  '17',
  'roykolak',
  '10/15/2015 16:38']]

In [11]:
#average number of comments on ask posts
total_ask_comments =0
for row in ask_posts:
    num_comments = int(row[4])
    total_ask_comments = total_ask_comments + num_comments
    average_ask_comments = total_ask_comments/ len(ask_posts)

In [12]:
print(average_ask_comments)

14.038417431192661

In [13]:
#average number of comments on show posts
total_show_comments =0
for row in show_posts:
    num_comments = int(row[4])
    total_show_comments = total_show_comments + num_comments
    average_show_comments = total_show_comments/ len(show_posts)

In [14]:
print(average_show_comments)

10.31669535283993

Ask posts receive more comments on show posts

# If ask posts created at a certain time are more likely to attract commentsï¼Ÿ

In [16]:
import datetime as dt

In [17]:
result_list =[]

In [18]:
for row in ask_posts:
    created_at = row[6]
    num_comments = int(row[4])
    result_list.append([created_at,num_comments])

In [19]:
result_list[:5]

[['8/16/2016 9:55', 6],
 ['11/22/2015 13:43', 29],
 ['5/2/2016 10:14', 1],
 ['8/2/2016 14:20', 3],
 ['10/15/2015 16:38', 17]]

In [20]:
counts_by_hour = {}
comments_by_hour = {}

In [21]:
for row in result_list:
    dt_obj = dt.datetime.strptime(row[0],'%m/%d/%Y %H:%M' )
    hour = dt_obj.strftime('%H') 
    if hour not in counts_by_hour:
        counts_by_hour[hour] = 1
        comments_by_hour[hour] = row[1]
    else:
        counts_by_hour[hour] += 1
        comments_by_hour[hour] += row[1]

In [22]:
counts_by_hour

{'00': 55,
 '01': 60,
 '02': 58,
 '03': 54,
 '04': 47,
 '05': 46,
 '06': 44,
 '07': 34,
 '08': 48,
 '09': 45,
 '10': 59,
 '11': 58,
 '12': 73,
 '13': 85,
 '14': 107,
 '15': 116,
 '16': 108,
 '17': 100,
 '18': 109,
 '19': 110,
 '20': 80,
 '21': 109,
 '22': 71,
 '23': 68}

In [23]:
comments_by_hour

{'00': 447,
 '01': 683,
 '02': 1381,
 '03': 421,
 '04': 337,
 '05': 464,
 '06': 397,
 '07': 267,
 '08': 492,
 '09': 251,
 '10': 793,
 '11': 641,
 '12': 687,
 '13': 1253,
 '14': 1416,
 '15': 4477,
 '16': 1814,
 '17': 1146,
 '18': 1439,
 '19': 1188,
 '20': 1722,
 '21': 1745,
 '22': 479,
 '23': 543}

In [24]:
avg_by_hour=[]

In [25]:
for hour in comments_by_hour:
    avg_by_hour.append([hour, comments_by_hour[hour]/ counts_by_hour[hour]])

In [26]:
avg_by_hour

[['01', 11.383333333333333],
 ['13', 14.741176470588234],
 ['11', 11.051724137931034],
 ['21', 16.009174311926607],
 ['07', 7.852941176470588],
 ['16', 16.796296296296298],
 ['15', 38.5948275862069],
 ['14', 13.233644859813085],
 ['04', 7.170212765957447],
 ['22', 6.746478873239437],
 ['08', 10.25],
 ['20', 21.525],
 ['18', 13.20183486238532],
 ['10', 13.440677966101696],
 ['02', 23.810344827586206],
 ['12', 9.41095890410959],
 ['23', 7.985294117647059],
 ['05', 10.08695652173913],
 ['03', 7.796296296296297],
 ['17', 11.46],
 ['00', 8.127272727272727],
 ['06', 9.022727272727273],
 ['09', 5.5777777777777775],
 ['19', 10.8]]

In [27]:
# dic is no order, change it to list and then order

In [28]:
swap_avg_by_hour =[]

In [29]:
for row in avg_by_hour:
    swap_avg_by_hour.append([row[1], row[0]])
print(swap_avg_by_hour)

[[11.383333333333333, '01'], [14.741176470588234, '13'], [11.051724137931034, '11'], [16.009174311926607, '21'], [7.852941176470588, '07'], [16.796296296296298, '16'], [38.5948275862069, '15'], [13.233644859813085, '14'], [7.170212765957447, '04'], [6.746478873239437, '22'], [10.25, '08'], [21.525, '20'], [13.20183486238532, '18'], [13.440677966101696, '10'], [23.810344827586206, '02'], [9.41095890410959, '12'], [7.985294117647059, '23'], [10.08695652173913, '05'], [7.796296296296297, '03'], [11.46, '17'], [8.127272727272727, '00'], [9.022727272727273, '06'], [5.5777777777777775, '09'], [10.8, '19']]

In [30]:
sprted_swap=sorted(swap_avg_by_hour, reverse = True)

In [31]:
print('Top 5 Hours for Ask Posts Comments')

Top 5 Hours for Ask Posts Comments

In [32]:
#print the hour and average in the right format

In [33]:
swap_format=[]
for row in sprted_swap[:4]:
    dt.obj2 = dt.datetime.strptime(row[1],'%H')
    dt.format = dt.obj2.strftime('%H:%M')
    str = '{}: {:.2f} average comments per post'
    strfm = str.format(dt.format, row[0]) 
    swap_format.append(strfm)

In [34]:
swap_format

['15:00: 38.59 average comments per post',
 '02:00: 23.81 average comments per post',
 '20:00: 21.52 average comments per post',
 '16:00: 16.80 average comments per post']

# Convert the times to the time azone I live in
Acoording to the document descripton, 'created_at': the date and time the post was made (the time zone is Eastern Time(GMT-5) in the US).
I live in New York so no modification to be made. If you live in LA(GMT-8), then use datetime.timedelta to convert time.

In [35]:
swap_format2=[]
for row in sprted_swap[:4]:
    dt.obj2 = dt.datetime.strptime(row[1],'%H')
    dt.obj3 = dt.obj2-dt.timedelta(hours=3)
    dt.format3 = dt.obj3.strftime('%H:%M')
    str = '{}: {:.2f} average comments per post'
    strfm = str.format(dt.format3, row[0]) 
    swap_format2.append(strfm)
swap_format2

['12:00: 38.59 average comments per post',
 '23:00: 23.81 average comments per post',
 '17:00: 21.52 average comments per post',
 '13:00: 16.80 average comments per post']